@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    background-color: seashell;
}

/* .container {
    border: 1px solid red;
    margin: auto;
    width: 100%;
    height: 100%;
} */

.heading {
    text-align: center;
    margin-top: 5vh;
    font-family: honk;
    font-size: 300%;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    border: .5vh solid skyblue;
    width: 70vh;
    height: 70vh;
    cursor: grab;
    margin: 0 auto 1%;
}


.pixel {
    box-sizing: border-box;
    margin: 0;
    flex: 1 0;
    background-color: seashell;
}

.pixel:hover {
    background-color: red;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5%;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
}
.slider-container {
    order: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
    height: 25px;
    border-radius: 100px;
    background-color: skyblue;
}

.slider-label {
    margin-left: 5px;
    margin: 0;
    font-family: Pixelify Sans;
}

.slider {
    accent-color: black;
    width: 90%;
}

.paint {
    width: 4vh;
    height: 4vh;
    order: 0;
    filter: invert(40%);
}

.eraser {
    width: 3vh;
    height: 3vh;
    padding: .5vh;
    order: 2;
}