body {
    margin: 0;
    background-color: seashell;
}

/* .container {
    border: 1px solid red;
    margin: auto;
    width: 100%;
    height: 100%;
} */

.heading {
    text-align: center;
    margin-top: 5vh;
    font-family: sans-serif;
}

.canvas {
    display: flex;
    margin: 5vh auto;
    flex-wrap: wrap;
    border: .5vh solid skyblue;
    width: 70vh;
    height: 70vh;
    cursor: grab;
}


.pixel {
    box-sizing: border-box;
    margin: 0;
    flex: 1 0;
    background-color: seashell;
}

.pixel:hover {
    background-color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    border-radius: 100px;
    background-color: skyblue;
}

.slider {
    cursor: pointer;
}