body {
    margin: 0;
    background-color: black;
}

/* .container {
    border: 1px solid red;
    margin: auto;
    width: 100%;
    height: 100%;
} */

.canvas {
    display: flex;
    margin: 10% auto;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 75vh;
    height: 75vh;
    padding: 0;
}


.pixel {
    box-sizing: border-box;
    /* border: 1px solid wheat; */
    margin: 0;
    flex: 1 0 10%;
}

.pixel:hover {
    background-color: red;
}
