body {
    margin: 0;
    background-color: seashell;
}

/* .container {
    border: 1px solid red;
    margin: auto;
    width: 100%;
    height: 100%;
} */

.canvas {
    display: flex;
    margin: 10% auto;
    flex-wrap: wrap;
    border: .5vh solid skyblue;
    width: 50vh;
    height: 50vh;
}


.pixel {
    box-sizing: border-box;
    border-radius: 100%;
    margin: 0;
    flex: 1 0 1%;
    background-color: seashell;
}

.pixel:hover {
    background-color: red;
}
